
@import "appcommons";


.loginform
{
	margin-top:50px;
	div
	{
		input
		{
			margin-bottom:10px;
		}
	}
	
	.logintext
	{
		height:30px;
		width:200px;
		font-size:20px;
	}
	
	.forgotpassword
	{
		margin-left:20px;
	}

}